header, nav, main, footer { display: block; }
* { box-sizing: border-box; }  
<<<<<<< HEAD
body { background-color: rgb(31, 141, 95);
      font-family: Verdana, Arial, sans-serif; 
	  color:green;
}
.wrapper { width: 90%;
=======
body { background-color: #3F2860;
      font-family: Verdana, Arial, sans-serif; 
	  color: #3F2860;
}
#wrapper { width: 80%;
>>>>>>> origin/style
           margin-right: auto;
		   margin-left: auto;
		   max-width: 1480px;
		   background-color: #F5F5F5;
}
<<<<<<< HEAD
#header { background-color: #9BC1C2;
=======
header { background-color: #9BC1C2;
       background-image: url(lilyheader.jpg);
>>>>>>> origin/style
	   background-position: right;
	   background-repeat: no-repeat;
	   height: 150px;
}
h1 { padding-top: 50px; padding-left: 2em;
}
<<<<<<< HEAD
#nav { float: left;
=======
nav { float: left;
>>>>>>> origin/style
      width: 160px;
      font-weight: bold;
      padding: 1em;
}
<<<<<<< HEAD
nav a:hover { color: green;
=======
nav a { text-decoration: none; 
       display: block;
	   text-align: center;
	   font-weight: bold;
	   border: 3px outset #CCCCCC;
	   padding: 1em;
	   margin-bottom: 1em;}
nav a:link { color: #3F2860; }
nav a:visited{ color: #497777; }
nav a:hover { color: #A26100;
>>>>>>> origin/style
            border: 3px inset #333333; }
nav ul { list-style-type: none; padding-left: 0;}
main { margin-left: 170px;
      padding-top: 1em;
	  padding-right: 2em;}
<<<<<<< HEAD
=======
footer { background-color: #9BC1C2;
	   font-size: .60em;
	   font-style: italic;
	   text-align: center; 
	   padding: 1em;
}
.studio { font-style:italic; }
.clear { clear: both; }

.floatleft { float: left; margin-right: 4em;}
#mobile { display: none; }
#desktop { display: inline; }
table { width: 60%;
      margin: auto;
	  margin-bottom: 1em;
      border: 1px solid #3F3860;
	  border-collapse: collapse; }
caption { font-weight: bold;
        font-size: 120%;
        margin: 1em;		}
th, td {  border: 1px solid #3F3860; padding: 5px; }
tr:nth-of-type(even) { background-color: #98C1C2; }
@media only screen and (max-width: 960px) {
	body { margin: 0; padding: 0; }
	#wrapper { width: 100%; 
	           min-width: 0;
			   margin: 0;
			   padding: 0; }
	header { padding-top: 1px;}
	h1 { padding-top: 1em; padding-left: 0.5em; }
	nav { float: none;
	      width: auto; }
	nav a { padding: 0.2em;
	      margin-left: 0.3em; 
		  float: left;
          width: 24%; }
	main { padding: 0 0 0 2em;
	      margin: 0;
		  font-size: 90%;
		  clear: both;}
    #hero img { width: 100%;
	          height: auto; }
	h2, h3, p, dl { padding-left: 2em; padding-right: 2em;}
	main ul { margin-left: 2em;} 
	.floatleft { margin-left: 2em; margin-bottom: 1em;}
	.clear { padding-left: 2em; }
}
@media only all and (max-width: 768px) {
	h1 { font-size: 2em;
	     padding-top: 0.25em;
		 padding-left: 1.5em;
		 text-align: center;
		 width: 85%;}
	nav a { padding: 0.5em;
	      width: 45%;
		  float: left;
		  min-width: 6em;
		  margin-left: 0.5em; }
	#hero { display: none; }
	.floatleft { float: none; display: none; }
	footer { padding: 0.5em; margin: 0;}
	#mobile { display: inline; }
    #desktop { display: none; }
}
>>>>>>> origin/style
