body {
  background-color: lightcyan;
}
h1{
  color: rgb(90, 81, 81);
  text-align: center;
}
h2{
  color: rgb(90, 81, 81);
  text-align: center;
  font-size: 30px;
}
h3{
  color: rgb(90, 81, 81);
  text-align: center;
}
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px; 
  text-align: center; 
}
ul{ 
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: white;
  text-align: left;

}
ul li{
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #555;
  color: white;
}
a {
  text-decoration: none; 
}
nav {
  text-align: left;
}
#looks {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#looks th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:white;
  color:black; 
  }
.meat {
  background-color: red;
  color: black
}
.dairy {
  background-color: yellow;
  color: black;
}
.veg {
  background-color: greenyellow;
  color: black;
}
.grid-container {
  display: grid;
  grid-gap: 10px;
  background-color:#555;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
.header {
  grid-column: 1 / span 3;
  grid-row: 1;
  text-align: center;
  font-size: 30px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.nav {
  grid-column: 1/ span 1;
  grid-row: 2;
}
.main {
  grid-column: 2/ spam 3;
  grid-row: 2;
}